body {
  margin: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(green, skyblue);
}
footer {
  align-content: center;
  justify-content: center;
}

img {
  width: 150px;
  height: auto;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rpsContainer {
  display: flex;
}

.rpsButton {
  background-color: blue;
  color: aliceblue;
}

button {
  border-radius: 10px;
  margin: 10px;
}
